@charset "UTF-8";

:root {
  --color-00: #ffffff;
  --color-01: #15bdf5;
  --color-02: #34a5ca;
  --color-03: #4489a0;
  --color-04: #456975;
  --color-05: #364347;
  --color-06: #3d4142;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-06);
}
header {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-01);
  border-radius: 0px 0px 30px 30px;
  width: 90%;
  margin: auto;
  padding: 10px 10px 5px 0px;
  margin-bottom: 50px;
  border-bottom: solid 3px var(--color-00);
}
header > h1 {
  color: var(--color-00);
  text-shadow: 0px 0px 5px var(--color-00);
  display: flex;
  align-items: center;
  background-color: var(--color-05);
  max-width: 250px;
  height: 50px;
  padding-left: 10px;
  border-radius: 0px 20px 20px 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header > nav {
  display: flex;
  justify-content: end;
  flex-flow: row wrap;
}
header > nav > a {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--color-00);
  background-color: var(--color-06);
  border: solid 1px var(--color-00);
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 10px;
}
nav > a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
  background-color: var(--color-03);
}
.planos {
  max-width: 80%;
  margin: auto;
  height: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
div {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-width: 200px;
  height: 270px;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  background-color: var(--color-04);
  color: var(--color-00);
  border: solid 1px var(--color-00);
}
div:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}
div > h1 {
  padding: 15px;
}
div > h2 {
  color: var(--color-01);
}
div > ul > li {
  list-style: none;
  padding-bottom: 5px;
}
div > p {
  color: var(--color-01);
  margin: auto;
  padding: 3px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 5px black;
  width: 150px;
}
div > a {
  text-decoration: none;
  color: var(--color-00);
  background-color: #15bdf5;
  padding: 5px 45px;
  border-radius: 5px;
}
