@charset "UTF-8";

@font-face {
  font-family: "FunnelSans";
  src: url("/fontes/FunnelSans.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/fontes/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: url("/fontes/Merriweather.ttf") format("truetype");
}

:root {
  --color-01: #0077b6;
  --color-02: #90e0ef;
  --color-03: #333333;
  --color-04: #f8f9fa;
  --fonte-01: "FunnelSans";
  --fonte-02: "Inter";
  --fonte-03: "Merriweather";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 769px) {
  header {
    display: flex;
    height: 70px;
    justify-content: center;
    border-radius: 50px;
  }
  nav {
    display: flex;
    margin: auto;
    width: 250px;
    flex-flow: column nowrap;
    
  }  
  div > picture > img {
    max-width: 120px;
    display: flex;
    margin: auto;
    outline: solid 2px var(--color-02);
    border-radius: 50%;
  }

  div > picture > img:hover {
    box-shadow: 0px 0px 30px var(--color-02);
    transition: box-shadow 0.4s ease-out;
  }

  aside {
    display: flex;
    flex-flow: column nowrap;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    border-radius: 0px;
  }

  header > h1 {
    font-size: 3.2em;
  }
  nav {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
  }
  nav > a {
    width: 170px;
  }

  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    width: 80%;
    border-radius: 50px;
  }

  div > picture > img {
    max-width: 30%; /* Garante que a imagem nunca fique maior que o container */
    width: auto;
    display: flex;
    margin: auto;
    outline: solid 2px var(--color-02);
    border-radius: 50%;
  }

  div > picture > img:hover {
    box-shadow: 0px 0px 30px var(--color-02);
    transition: box-shadow 0.4s ease-out;
  }

  aside {
    display: flex;
    flex-flow: column nowrap;
    max-height: 250px;
    justify-content: center;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1024.2px) and (max-width: 1300px) {
  header {
    display: flex;
    height: 150px;
  }
  header > h1 {
    font-size: 4em;
  }
  div {
    background-color: #3333339f;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 70%;
    position: relative;
  }
  div > picture > img {
    width: auto;
    width: 20vw;
    height: 50vh;
    margin: 90px 45px 0px 10px;
    outline: ridge 10px var(--color-03);
  }
  div > h3 {
    font-family: var(--fonte-03);
    font-size: 1.3em;
    font-weight: bolder;
    position: absolute;
    top: 25px;
    left: 30px;
  }
  aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 600px;
    height: 400px;
    border-radius: 50px;
  }
  aside > a > img {
    width: 120px;
    margin-top: 40px;
  }
}
