@charset "UTF-8";

@font-face {
  font-family: "FunnelSans";
  src: url("/fontes/FunnelSans.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/fontes/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: url("/fontes/Merriweather.ttf") format("truetype");
}

:root {
  --color-01: #0077b6;
  --color-02: #90e0ef;
  --color-03: #333333;
  --color-04: #f8f9fa;
  --fonte-01: "FunnelSans";
  --fonte-02: "Inter";
  --fonte-03: "Merriweather";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  header {
    height: 70px;
    border-radius: 50px;
    background-image: url(../imagens/html-css\ P.jpg);
    background-position: bottom center;
  }

  header > h1 {
    font-size: 1.7em;
  }
  div#icon {
    margin-top: 30px;
  }

  div#icon > a > img {
    width: 25px;
  }

  nav {
    margin: auto;
    width: 200px;
    height: 215px;
    flex-flow: column nowrap;
  }
  nav > a {
    height: 25px;
    line-height: 15px;
  }

  div#info {
    flex-flow: column nowrap;
  }

  div#info > picture > img {
    max-width: 120px;
    display: flex;
    margin: auto;
    outline: solid 2px var(--color-03);
    border-radius: 50%;
  }

  div#info > picture > img:hover {
    box-shadow: 0px 0px 30px var(--color-03);
    transition: box-shadow 0.4s ease-out;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  header {
    height: 100px;
    background-image: url(../imagens/html-css\ M.jpg);
    background-position: bottom center;
  }
  header > h1 {
    font-size: 3.2em;
  }
  div#icon {
    margin-top: 50px;
  }

  div#icon > a > img {
    width: 35px;
  }

  nav {
    padding-top: 20px;
    justify-content: space-evenly;
  }
  nav > a {
    width: 160px;
    font-size: 14px;
  }

  div#info {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 900px;
  }

  div#info > picture > img {
    max-width: 30%; /* Garante que a imagem nunca fique maior que o container */
    width: auto;
    display: flex;
    margin: auto;
    outline: solid 2px var(--color-03);
    border-radius: 50%;
  }

  div#info > picture > img:hover {
    box-shadow: 0px 0px 30px var(--color-03);
    transition: box-shadow 0.4s ease-out;
  }

  aside {
    max-height: 250px;
    justify-content: center;
  }
  article > section#md1 {
    scroll-margin-top: 100px;
  }
}
@media screen and (min-width: 1024.2px) and (max-width: 1300px) {
  header {
    height: 150px;
    background-image: url(../imagens/html-css\ M2.jpg);
    background-position: bottom center;
  }
  header > h1 {
    font-size: 3em;
  }

  div#icon > a > img {
    width: 40px;
  }

  div#icon {
    margin-top: 90px;
  }
  nav {
    padding-top: 30px;
  }

  nav > a {
    margin: auto;
    flex-basis: 180px;
    background-color: #333333fd;
  }

  div#info > picture > img {
    height: 42vh;
    margin: auto;
    margin: 55px 70px 40px 20px;
    border-radius: 20px;
    outline: solid 3px var(--color-03);
  }

  div#info > h3 {
    color: var(--color-04);
    font-size: 1.3em;
    font-weight: bolder;
    text-shadow: 0px 0px 2px var(--color-03);
    position: absolute;
    top: 4px;
    left: 30px;
  }

  div#info {
    position: relative;
  }

  aside {
    justify-content: center;
    width: 600px;
    height: 320px;
  }
  aside > a > img {
    width: 100px;
    margin-top: 40px;
    outline: 3px solid var(--color-03);
  }
}

@media screen and (min-width: 1300px) and (max-width: 2400px) {
  header {
    height: 150px;
    background-image: url(../imagens/html-css\ L.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  header > h1 {
    font-size: 4em;
  }

  div#icon {
    margin-top: 90px;
  }

  div#icon > a > img {
    width: 40px;
  }

  nav {
    justify-content: space-evenly;
    padding: 25px;
  }
  nav > a {
    font-size: 1em;
    padding: 5px;
    flex-flow: row nowrap;
    flex-basis: 200px;
  }
  div#info > picture > img {
    height: 40vh;
    margin: 60px 30px 30px 30px;
    border-radius: 15px;
    outline: solid 3px var(--color-03);
  }

  div#info > h3 {
    font-size: 1.3em;
    font-weight: bolder;
    position: absolute;
    top: 10px;
    left: 160px;
  }

  aside {
    margin-top: 20px;
    justify-content: center;
    width: 800px;
    height: 300px;
  }
  aside > a > img {
    width: 100px;
    margin-top: 40px;
    outline: 8px solid var(--color-03);
  }
}
