@charset "UTF-8";

@font-face {
  font-family: 'FunnelSans';
  src: url('/fontes/FunnelSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/fontes/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fontes/Merriweather.ttf') format('truetype');
}

:root {
  --color-01: #0077B6;
  --color-02: #90E0EF;
  --color-03: #333333;
  --color-04: #F8F9FA;
  --fonte-01: 'FunnelSans';
  --fonte-02: 'Inter';
  --fonte-03: 'Merriweather';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 545px) {
  header {
    display: flex;
    height: 70px;
    justify-content: center;
    border-radius: 50px;
  }

  header > h1 {
    font-size: 2em;
  }
  nav {
    display: flex;
    margin: auto;
    width: 250px;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  div > picture > img {
    max-width: 120px;
    display: flex;
    margin: auto;
    outline: solid 2px var(--color-02);
    border-radius: 50%;
  }

  div > picture > img:hover {
    box-shadow: 0px 0px 30px var(--color-02);
    transition: box-shadow 0.4s ease-out;
  }

  aside {
    display: flex;
    flex-flow: column nowrap;
  }
}

@media screen and (min-width: 546px) and (max-width: 1025px) {
  header {
    height: 70px;
    border-radius: 0px;
  }

  header > h1 {
    font-size: 3.2em;
  }
  nav {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
  }
  nav > a {
    width: 170px;
  }

  div {
    display: block;
    width: 70vw;
    border-radius: 50px;
  }

  div > picture > img {
    max-width: 155px;
    display: flex;
    margin: auto;
    outline: solid 2px var(--color-02);
    border-radius: 50%;
  }

  div > picture > img:hover {
    box-shadow: 0px 0px 30px var(--color-02);
    transition: box-shadow 0.4s ease-out;
  }

  aside {
    display: flex;
    flex-flow: column nowrap;
    height: 200px;
    justify-content: center;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
  header {
    display: flex;
    height: 150px;
  }
  header > h1 {
    font-size: 4em;
  }
  nav {
  }
  div {
    background-color: #3333339f;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 70vw;
    position: relative;
    
  }
  div > picture > img {
    width: 200px;
    height: 310px;    
    margin: 90px 45px 0px 10px;
    outline: ridge 10px var(--color-03);
    
  }
  div > h3 {
    font-family: var(--fonte-03);
    font-size: 1.3em;
    font-weight: bolder;    
    position: absolute;
    top: 25px;
    left: 30px;    
  }
  aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 600px;
    height: 400px;    
    border-radius: 50px;
  }
  aside > a > img {
    width: 120px;
    margin-top: 40px;
  }
}
