@charset "UTF-8";
@font-face {
  font-family: 'FunnelSans';
  src: url('/fontes/FunnelSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/fontes/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fontes/Merriweather.ttf') format('truetype');
}

:root {
  --color-01: #0077B6;
  --color-02: #90E0EF;
  --color-03: #333333;
  --color-04: #F8F9FA;
  --fonte-01: 'FunnelSans';
  --fonte-02: 'Inter';
  --fonte-03: 'Merriweather';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--color-04) ;
}

header {
  background-color: var(--color-01);
}

nav {
  background-color: var(--color-02);
}

div {
  background-color: var(--color-03);
}

aside {
  background-color: var(--color-01);
}

main {
  background-color: var(--color-02);
}

.md1 {
  background-color: var(--color-03);
}

.md2 {
  background-color: var(--color-04);
}

.md3 {
  background-color: var(--color-01);
}

.md4 {
  background-color: var(--color-03);
}

.md5 {
  background-color: var(--color-04);
}

footer {
  background-color: black;
  color: var(--color-04);
}

footer > p > a {
  text-decoration: none;
  color: var(--color-02);
  font-weight: bolder;
}

