@charset "UTF-8";
@font-face {
  font-family: 'FunnelSans';
  src: url('/fontes/FunnelSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/fontes/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fontes/Merriweather.ttf') format('truetype');
}

:root {
  --color-01: #0077B6;
  --color-02: #90E0EF;
  --color-03: #333333;
  --color-04: #F8F9FA;
  --fonte-01: 'FunnelSans';
  --fonte-02: 'Inter';
  --fonte-03: 'Merriweather';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  background-color: var(--color-04) ;
}